@model LifeRoutineCheck.Areas.Person.ViewModels.ViewPersonMailAddressUpdate
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/updateuser.css" />
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">


<body>
    <form asp-controller="Person" asp-action="UpdateUserMailAddress">
        <div class="gradation">
            <div class="updateusernmbox">
                <h1>メールアドレス編集</h1>
                <div>
                    <div class="padding10">
                        <label asp-for="MailAdress"></label>
                        <div class="editinput">
                            <input asp-for="MailAdress" />
                        </div>
                        <br />
                        <span asp-validation-for="MailAdress" class="text-danger"></span>
                    </div>

                    <div class="padding10">
                        <button type="submit">変更する</button>
                        <br />
                        <a asp-controller="Person" asp-action="UpdateUserIndexPage" asp-area="Person" asp-route-personId="@Model.Person_Id" class="padding10">戻る</a>
                    </div>

                    <input asp-for="@Model.Person_Id" class="hidden"/>
                </div>
            </div>

        </div>
    </form>
</body>