body {
    margin: 0px;
    padding: 0px;
}

.updateuserbox {
    width: 500px;
    height: 550px;
    background-color: #f4efdb;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 4%;
    box-shadow: 0px 7px 35px 5px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
}

.updateusernmbox {
    width: 700px;
    height: 350px;
    background-color: #f4efdb;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 4%;
    box-shadow: 0px 7px 35px 5px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.updateuserbox label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.updateuserbox input, button {
    width: 100%;
    margin-bottom: 20px;
}

    .updateuserbox input[type="text"] {
        border: none;
        border-bottom: 1px solid slategray;
        background: transparent;
        outline: none;
        height: 40px;
        color: gray;
        font-size: 16px;
        border-bottom-width: 2px;
        text-align: center;
        margin-right: 30px;
    }

    .updateuserbox input[type="email"] {
        border: none;
        border-bottom: 1px solid slategray;
        background: transparent;
        outline: none;
        height: 40px;
        color: gray;
        font-size: 16px;
        border-bottom-width: 2px;
        text-align: center;
        margin-right: 30px;
    }

.updateusernmbox input, button {
    width: 100%;
    margin-bottom: 20px;
}

    .updateusernmbox input[type="text"], input[type="email"] {
        border: none;
        border-bottom: 1px solid slategray;
        background: transparent;
        outline: none;
        height: 40px;
        color: black;
        font-size: 16px;
        border-bottom-width: 2px;
        margin-right: 30px;
    }

.updateuserbox button[type="submit"] {
    border: none;
    outline: none;
    width:150px;
    height: 40px;
    background-color: #ff424e;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

    .updateuserbox button[type="submit"]:hover {
        cursor: pointer;
        background-color: #bd2f38;
        color: #fff;
    }

.updateuserbox button[type="button"] {
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    background-color: #4aa8d4;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

    .updateuserbox button[type="button"]:hover {
        cursor: pointer;
        background-color: #63c5f2;
        color: #fff;
    }

.updateusernmbox button[type="submit"] {
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    background-color: #ff424e;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

    .updateusernmbox button[type="submit"]:hover {
        cursor: pointer;
        background-color: #bd2f38;
        color: #fff;
    }

.back-anchor {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

    .back-anchor:hover {
        color: cornflowerblue;
    }

.fake-anchor-btn {
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    background-color: #ff424e;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align:center;
}

    .fake-anchor-btn:hover {
        cursor: pointer;
        background-color: #bd2f38;
        color: #fff;
    }

.img-anchor{
    width:107px;
}

.padding10 {
    padding: 10px;
}

.w-350{
    width:350px;
}

.editinput {
    display: flex;
    margin-right: 40px;
}

.preimg{
    height:100px;
    width:100px;
    display:block;
    margin:auto;
}

.img-btn{
    width:110px !important;
    margin-top:50px;
}

.delete-area {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.text-danger {
    color: red;
}

.usericon {
    border-radius: 100px;
}