body {
    margin: 0px;
    padding: 0px;
}

.updatepasswordbox {
    width: 500px;
    height: 550px;
    background-color: #f4efdb;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 4%;
    box-shadow: 0px 7px 35px 5px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.updatepasswordbox label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.updatepasswordbox input, button {
    width: 100%;
    margin-bottom: 20px;
}

.updatepasswordbox input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid slategray;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    border-bottom-width: 2px;
}

.updatepasswordbox button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #ff424e;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

    .updatepasswordbox button[type="submit"]:hover {
        cursor: pointer;
        background-color: #bd2f38;
        color: #000;
    }

.updatepasswordbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

    .updatepasswordbox a:hover {
        color: cornflowerblue;
    }

.updatepasswordbox .text-danger {
    color: red;
}

.padding10 {
    padding: 10px;
}