@model LifeRoutineCheck.Models.Person
<link rel="stylesheet" href="~/css/site.css" />
<form asp-controller="Login" asp-action="Test">
    <body>
        <div class="text-center gradation">
            <div class="" style="width: 1000px; background-color: whitesmoke; height: 600px; margin: 100px;">
                <div style="padding: 250px;">
                    <span>ログイン画面</span>
                    <div>
                        <div>
                            <label>ユーザーID</label>
                            <input asp-for="Id" />
                        </div>

                        <div>
                            <label>パスワード</label>
                            <input asp-for="Password" />
                        </div>
                        <button type="submit">ログイン</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</form>
